.detailsContainer {
	width: 74vw;
	height: 100vh;
	box-sizing: border-box;
	padding: 4.5vh 125px;
	background-color: #100e1d;
	position: relative;
	transition: opacity 2s;
}

.unitsContainer {
	display: flex;
	justify-content: flex-end;
}

.unit {
	width: 2.2vw;
	height: 2.2vw;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	line-height: 2.2vw;
	background-color: #585676;
	color: #e7e7eb;
	border-radius: 50%;
	margin-left: 12px;
}

.unit:hover {
	background-color: #e7e7eb;
	color: #110e3c;
	cursor: pointer;
}

.selectedUnit {
	background-color: #e7e7eb;
	color: #110e3c;
}

.weekContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 4vh;
}

#sectionTitle {
	font-weight: bold;
	font-size: 23px;
	font-style: normal;
	color: #e7e7eb;
	margin-top: 8vh;
}

.currCardContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 4vh;
	margin-bottom: 4vh;
}

#loadingCloud {
	position: absolute;
	display: block;
	width: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.03;
	animation: pulse 4.2s infinite ease-in;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 0.03;
	}
	50% {
		opacity: 1;
	}
}

#credits {
	color: #616475;
	position: absolute;
	bottom: 9px;
	left: 50%;
	font-size: 13px;
	text-align: center;
	transform: translateX(-50%);
}

#ghLink {
	text-decoration: underline;
	color: #616475;
}

#ghLink:hover {
	color: #e7e7eb;
}
