.forecastContainer {
	background-color: #1e213a;
	width: 26vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#searchBtn {
	background-color: #6e707a;
	border-style: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #e7e7eb;
	height: 4.2vh;
	font-size: 15px;
	width: 13vw;
}

.displayWeather {
	display: block;
	position: relative;
	width: 29vw;
	height: 28vh;
}

.displayWeather::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(./Assets/cloudBackground.png);
	background-size: 28vw 33vh;
	background-position: 75% 740%;
	opacity: 0.06;
	transition: 3s all;
}

.displayWeather:hover:after {
	background-position: 100% -790%;
}

#weatherIcon {
	display: block;
	margin: 0 auto;
	width: 9.5vw;
	opacity: 0;
	transition: 2.8s opacity ease-in;
}

.displayWeather:hover > #weatherIcon {
	opacity: 1;
}

/* TODO - change hover effects to happen when loading weather info */

#tempDisplay {
	color: #e7e7eb;
	font-size: 95px;
}

span {
	font-size: 38px;
}

#description {
	color: #a09fb1;
	font-size: 27px;
	font-weight: 600;
	text-align: center;
}

#date {
	color: #88869d;
	font-size: 14px;
	margin-bottom: -6vh;
}

#locationIcon {
	width: 14px;
}

.location {
	color: #88869d;
	font-weight: 600;
	font-size: 14px;
}
