.forecastContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 26vw;
	height: 100vh;
	background-color: #1e213a;
}

.searchBarInactive {
	display: flex;
	justify-content: space-between;
	width: 85%;
	height: 5.2vh;
}

#searchBtnInactive {
	width: 10vw;
	height: 5.2vh;
	font-size: 15px;
	background-color: #6e707a;
	color: #e7e7eb;
	border-style: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#currentLocationIcon {
	width: 2.5vw;
	background: #6e707a;
	padding-top: 0.9vh;
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.displayWeather {
	display: block;
	position: relative;
	width: 29vw;
	height: 28vh;
}

.displayWeather::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(./Assets/cloudBackground.png);
	background-size: 28vw 33vh;
	background-position: 75% 740%;
	opacity: 0.06;
	transition: 3s all;
}

.displayWeather:hover:after {
	background-position: 100% -790%;
}

#weatherIcon {
	display: block;
	width: 9.5vw;
	margin: 0 auto;
	opacity: 0;
	transition: 2.8s opacity ease-in;
}

.displayWeather:hover > #weatherIcon {
	opacity: 1;
}

/* TODO - change hover effects to happen when loading weather info */

#tempDisplay {
	color: #e7e7eb;
	font-size: 95px;
}

span {
	font-size: 38px;
}

#description {
	color: #a09fb1;
	font-size: 27px;
	font-weight: 600;
	text-align: center;
}

#date {
	color: #88869d;
	font-size: 14px;
	margin-bottom: -6vh;
}

#locationIcon {
	min-width: 15px;
	width: 0.8vw;
}

.location {
	color: #88869d;
	font-weight: 600;
	font-size: 14px;
}

#closeBtn {
	font-size: 40px;
	color: #e7e7eb;
	align-self: flex-end;
	margin-right: 45px;
	margin-bottom: 25px;
}

.searchBarContainer {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.inputContainer {
	position: relative;
	box-sizing: border-box;
	border: 1px solid #e7e7eb;
	padding: 10px 40px;
	height: 40px;
}

#searchIcon {
	position: absolute;
	left: 7px;
	top: 50%;
	width: 15px;
	transform: translate(0%, -50%);
}

#inputArea {
	border-style: none;
	background-color: #1e213a;
	color: #616475;
	font-size: 13.5px;
}
#inputArea:focus {
	outline: none;
}

#searchBtnActive {
	border-style: none;
	background-color: #3c47e9;
	color: #e7e7eb;
	padding: 2px 20px;
	font-size: 13.5px;
	font-weight: 600px;
}
