@media (max-width: 420px) {
	.weekCard {
		margin-top: 20px;
		margin-bottom: 20px;
		width: 75%;
		min-height: 200px;
	}

	.cardIcon {
		width: 70px;
		padding-right: 1.8vw;
	}

	.cardInfo {
		font-size: 16px;
	}

	.cardBottom {
		font-size: 16px;
	}
}
